<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-app navbar-inner">

    <a class="navbar-brand d-flex align-items-center gap-2" href="/">
      <span class="brand-icon"><i class="fa-brands fa-airbnb"></i></span>
      <span class="brand-text">WanderLust</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav nav-main gap-1">
        <li class="nav-item">
          <a class="nav-link" href="/" data-nav="explore">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listings/new" data-nav="host">Host</a>
        </li>
      </ul>

      <div class="search-container">
        <form action="/listings/search" method="GET" class="search-form" role="search">
          <i class="fa-solid fa-magnifying-glass search-icon-left"></i>
          <input
            type="text"
            name="q"
            placeholder="Where to next?"
            class="search-input"
            aria-label="Search listings"
            value="<%= typeof searchQuery !== 'undefined' && searchQuery ? searchQuery : '' %>"
          />
          <button type="submit" class="search-btn" aria-label="Search">
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </form>
      </div>

      <ul class="navbar-nav nav-auth align-items-lg-center gap-2">

        <% if (typeof currUser === 'undefined' || !currUser) { %>
          <li class="nav-item">
            <a class="btn btn-outline-brand btn-sm" href="/signup">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-brand btn-sm" href="/login">Log in</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <span class="user-chip">
              <span class="user-avatar"><%= currUser.username.charAt(0).toUpperCase() %></span>
              <span class="d-none d-md-inline"><%= currUser.username %></span>
            </span>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-brand btn-sm" href="/logout">Log out</a>
          </li>
        <% } %>

      </ul>

    </div>
  </div>
</nav>
