<% layout("layouts/boilerplate") %>

<div class="error-page">
  <i class="fa-solid fa-triangle-exclamation d-block"></i>
  <h2>Something went wrong</h2>
  <p><%= err.message %></p>
  <a href="/" class="btn btn-brand">Back to explore</a>
</div>
