<% layout("layouts/boilerplate") %>

<!-- Importing boilerplate html for all pages -->


<!-- using the bootstrap error handling style css   -->
<div class="row mt-5">
<div class="alert alert-danger" role="alert">
<p class="alert-heading"><%=err.message %></p>
</div>
</div>


